.custom-modal {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  .title {
    white-space: nowrap;
    padding: 5px;
    font-size: 18px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
  }
}
