.results-view {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.pagination {
  width: 100%;
  height: 10%;
  justify-content: center;
}

.card-deck-container {
  width: 100%;
  height: 90%;
  padding: 5px;
  margin-top: 5px;
  overflow-y: scroll;
}
