.summary-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .overview-table-container {
    width: 100%;
    height: var(--overview-table-container-height);
    overflow: scroll;
  }
  .mcd-container {
    width: 100%;
    height: 40%;
    overflow: hidden;
  }
}
