.results-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.results-sort-options {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.results-view-full {
  width: 100%;
  height: 90%;
}
