.panels {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
  border-top: solid 0.1px #eee;

  .summary-panel {
    width: 100%;
    height: 100%;
  }

  .query-and-result-panel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .collapsible {
      height: 40px;
      background-color: #eee;
      padding: 5px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      border-radius: 10px;

      &:hover {
        background-color: #ccc;
      }
    }

    .request-error {
      height: 100%;
      width: 100%;
      top: calc(50%);
      position: absolute;
      text-align: center;

      p {
        color: red;
      }
    }

    .request-cancelled {
      height: 100%;
      width: 100%;
      top: calc(50%);
      position: absolute;
      text-align: center;

      p {
        color: blue;
      }
    }
  }
}

.SplitPane {
  height: '100%';
  width: '100%';

  .Resizer.vertical {
    width: 15px;
    background-color: '#f7f7f7';
    cursor: col-resize;
    padding: 2px;
    border: 0.55px solid lightgrey;

    &:hover {
      background-color: lavender !important;
    }

    &:after {
      content: '\22EE';
      top: 50%;
      color: black;
      position: absolute;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
