.info-container {
  width: 100%;
  height: 20%;
  overflow-y: auto;

  .action-buttons {
    // display: flex;
    // flex-direction: row;
    .Button {
      border: none;
      background-color: transparent;
      font-size: larger;
    }
  }

  .info-grid {
    .key {
      text-align: center;
    }
    .value {
      text-align: center;
      font-weight: bold;
    }
  }
}
