.query-options-tab-dereplication-container {
  width: 450px;
  height: 100%;

  .options-tab-dereplication-table-container {
    position: absolute;
    width: 450px;
    height: calc(100% - 80px);
    overflow: scroll;

    table {
      width: 100%;
      text-align: left;
      margin-top: 5px;
      white-space: nowrap;

      .Input {
        display: flex;
        flex-direction: column;
      }
    }

    .Button {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .button-container {
      text-align: center;
    }
  }
}
