.query-tab-retrieval-container {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  width: 100%;
  height: 100%;

  .search-and-button-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;

    .Input {
      width: 100%;
      input {
        text-align: center;
      }
      margin-left: 10px;
    }

    .button-and-pagination-container {
      width: 100%;
      height: 30px;
      margin-left: 10px;
      display: flex;
      align-items: center;

      .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 80px);
        .CustomPagination {
          .Pagination {
            font-size: 11px;
          }
        }
      }

      .button-container {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        .Button {
          border: none;
          background-color: transparent;
          margin-left: 10px;
        }
        margin-right: 10px;
      }
    }
  }

  .retrieval-table {
    position: absolute;
    width: 100%;
    height: calc(100% - 125px);
    margin-top: 5px;
    border: 1px solid #dedede;
    overflow: scroll;
    font-size: 13px;

    table {
      width: 100%;

      th,
      td {
        white-space: nowrap;
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid #dedede;
        border-right: 1px solid #dedede;

        .Button {
          background-color: transparent;
          border: none;
        }
      }

      th {
        background-color: lightgrey;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
      }

      tr:hover {
        background-color: mintcream;
      }

      .rendered-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
