.query-options-tab-elucidation-container {
  width: 100%;
  height: 100%;
}

.elimination-container {
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;

  .CheckBox {
    // color: green;
    span {
      white-space: nowrap;
    }
  }

  .elimination-inputs {
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: row;
  }
}
