.custom-modal {
  user-select: none;
  -ms-user-selec: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  .title {
    white-space: nowrap;
    padding: 5px;
    font-size: 18px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    .footer-button {
      font-size: 14px;
      background-color: transparent;
      border: 1px solid grey;
      text-align: center;
    }
  }
}
