.SelectBox {
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  font: inherit;
  cursor: crosshair;
  outline: inherit;
}
