.Spinner {
  top: calc(50% + 50px);
  left: calc(50% - 50px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Button {
    margin-top: 10px;
  }
}
