.sherlock {
  width: 100%;
  height: 100%;

  .sherlock-header {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }

  .sherlock-body {
    width: 100%;
    height: calc(100% - 40px);

    .tabs-bar {
      height: 40px;
    }

    .nmrium-container {
      width: 100%;
      height: calc(100% - 40px - 40px);
      position: absolute;
    }
  }
}
