.sherlock {
  width: 100%;
  height: 100%;

  .nav {
    border: none;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    height: 50px;
    color: grey;
    font-weight: bold;
    border: none;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    height: 50px;
    color: rgb(10, 97, 212);
    border: none;
  }

  .nmrium-container {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
  }
}
