.fragments-view-div {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  table {
    width: 100%;
    text-align: center;
    font-size: 12px;

    th,
    td {
      white-space: nowrap;
      text-align: center;
      padding: 5px;
      border: 1px solid #dedede;
    }

    th {
      background-color: lightgray;
      z-index: 10;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }
}
